<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="pages/removed-player/style.css">

	<title>Skribbl.io - You Got Removed</title>
</head>

<body>
	<div id="all">
		<h1>Hi, sorry for the inconvenience, But...</h1>
		<h2>You got removed by Amit Mathov</h2>
		<div><b>You got Yeeeted</b></div>
		<iframe src="projects/Flying-Carrot/index.html" frameborder="0"></iframe>
	</div>
</body>

</html>